.container {
    width: 540px;
}

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

[class^=col-] {
    color: white;
    background-color: rgb(69, 173, 252);
    text-align: center;
}

.col-xs-1 { width: calc(100% / 12 * 1); flex-basis: 0; flex-grow: 1; }
.col-xs-2 { width: calc(100% / 12 * 2); flex-basis: 0; flex-grow: 1; }
.col-xs-3 { width: calc(100% / 12 * 3); flex-basis: 0; flex-grow: 1; }
.col-xs-4 { width: calc(100% / 12 * 4); flex-basis: 0; flex-grow: 1; }
.col-xs-5 { width: calc(100% / 12 * 5); flex-basis: 0; flex-grow: 1; }
.col-xs-6 { width: calc(100% / 12 * 6); flex-basis: 0; flex-grow: 1; }
.col-xs-7 { width: calc(100% / 12 * 7); flex-basis: 0; flex-grow: 1; }
.col-xs-8 { width: calc(100% / 12 * 8); flex-basis: 0; flex-grow: 1; }
.col-xs-9 { width: calc(100% / 12 * 9); flex-basis: 0; flex-grow: 1; }
.col-xs-10 { width: calc(100% / 12 * 10); flex-basis: 0; flex-grow: 1; }
.col-xs-11 { width: calc(100% / 12 * 11); flex-basis: 0; flex-grow: 1; }
.col-xs-12 { width: calc(100% / 12 * 12); flex-basis: 0; flex-grow: 1; }

/* BREAKPOINT
xs: 0-575px
sm: 576px-767px
md: 768px-991px
lg: 992px-n 
*/